<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs')%>
    <style media="screen">
    body{
      background: none;
      color:black;
    }
    </style>
</head>

    <body>
      <nav>
        <%- include('../partials/nav.ejs')%>
      </nav>
    <div class="container">

      <div class="row">
        <h4><%=guitars.name%></h4>
        </div>
        <div class="row">
          <div class="col-md-8">
            <img class="img-fluid"src="<%=guitars.img%>" alt="">
          </div>

        <div class="col-md">
          <h5><%=guitars.description%></h5>
        </div>
    </div><br>
    <div class="row">
      <div class="col">
        <h5 style="color:red;">$<%=guitars.price%></h5>
      </div>
      <div class="col">
        <% if(guitars.qty <= 0) {%>
          <h4 style="color:red;">Out Of Stock</h4>
        <%} else {%>
          <h5>Qty: <%=guitars.qty%></h5>
        <%}%>
      </div>
      <div class="col">
        <form action="/guitars/buy/<%=guitars.id%>?_method=PUT" method="post">
          <button class="btn-lg btn-success" >Buy</button>
        </form>
      </div>
      <div class="col">
      <a class="btn btn-primary"href="/guitars/<%=guitars.id%>/edit">Upgrade Guitar</a>
    </div>
  </div>
</div><br>
<footer>
  <%- include('../partials/footer.ejs')%>
</footer>
  </body>
</html>
